<nav class="navbar navbar-expand-lg navbar-light">
  <img class="mr-3" src="../../../assets/img/logoFalaMais.png" alt="FalaMais" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <input class="form-control mr-sm-2" type="search" placeholder="O que você está buscando?">
        <button class="btn btn-outline-dark my-2 my-sm-0 ml-2 mr-4" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>

    </div >
    <img class="nav-item margem-icone" src="../../../assets/img/cadastrar.png" alt="cadastrar">

    <a routerLink="/login"><img class="nav-item margem-icone" src="../../../assets/img/entrar.png" alt="entrar"></a>

  </nav>
