<app-simple-header [tela]="'Gerenciar Pictogramas'" [menus]="menus"></app-simple-header>
<div class="body">
  <div class="container">
    <!-- Imagens na parte inferior esquerda -->
    <div class="left-bottom">
      <img src="../../../../assets/img/grid 1.png" alt="Imagem 1" class="selectable" data-id="1">
      <img src="../../../../assets/img/grid 2.png" alt="Imagem 2" class="selectable" data-id="2">
      <img src="../../../../assets/img/grid 3.png" alt="Imagem 3" class="selectable" data-id="3">
      <img src="../../../../assets/img/grid 4.png" alt="Imagem 4" class="selectable" data-id="4">
      <img src="../../../../assets/img/grid 5.png" alt="Imagem 5" class="selectable" data-id="5">
      <img src="../../../../assets/img/grid 6.png" alt="Imagem 6" class="selectable" data-id="6">
      <img src="../../../../assets/img/grid 7.png" alt="Imagem 7" class="selectable" data-id="7">
      <img src="../../../../assets/img/grid 8.png" alt="Imagem 8" class="selectable" data-id="8">
    </div>

    <!-- Cards na parte superior direita -->
    <div class="right-top">
      <div class="card selectable" data-id="1">
        <h3>Card 1</h3>
        <p>Conteúdo do card 1</p>
      </div>
      <div class="card selectable" data-id="2">
        <h3>Card 2</h3>
        <p>Conteúdo do card 2</p>
      </div>
      <div class="card selectable" data-id="3">
        <h3>Card 3</h3>
        <p>Conteúdo do card 3</p>
      </div>
      <div class="card selectable" data-id="4">
        <h3>Card 4</h3>
        <p>Conteúdo do card 4</p>
      </div>
    </div>

    <!-- Imagens na parte superior -->
    <div class="top">
      <img src="imagem9.jpg" alt="Imagem 9" class="selectable" data-id="9">
      <img src="imagem10.jpg" alt="Imagem 10" class="selectable" data-id="10">
      <img src="imagem11.jpg" alt="Imagem 11" class="selectable" data-id="11">
      <img src="imagem12.jpg" alt="Imagem 12" class="selectable" data-id="12">
      <img src="imagem13.jpg" alt="Imagem 13" class="selectable" data-id="13">
      <img src="imagem14.jpg" alt="Imagem 14" class="selectable" data-id="14">
    </div>
  </div>
</div>
