<app-simple-header [tela]="'Cadastra-se'" [menus]="menus"></app-simple-header>
  <div class="container">
    <h1>Cadastro Paciente</h1>
    <form>
      <div class="input-group">
        <input type="text" placeholder="Nome">
      </div>
      <div class="input-group">
        <input type="text" placeholder="Data de Nascimento">
      </div>
      <div class="input-group">
        <input type="text" placeholder="Endereço">
      </div>
      <div class="input-group">
        <input type="text" placeholder="Telefone">
      </div>
      <div class="input-group">
        <input type="text" placeholder="CPF">
      </div>
      <div class="input-group">
        <input type="text" placeholder="Tipo de Deficiência">
      </div>
      <div class="input-group">
        <input type="text" placeholder="Nome do Responsável">
      </div>
      <div class="input-group">
        <input type="text" placeholder="Email">
      </div>
      <div class="input-group">
        <input type="text" placeholder="Confirme o Email">
      </div>
      <div class="input-group">
        <input type="password" placeholder="Senha">
      </div>
      <div class="input-group">
        <input type="password" placeholder="Confirme a Senha">
      </div>
      <div class="button-group">
        <button class="cancel-button">Cancelar</button>
        <button>Salvar</button>
      </div>
    </form>
  </div>
