:root{
  --fundo-footer: #021B23;
  --fundo-header: #D0EDEF;
}

.teste-div{
  width: 1000px;
  margin: 0;
  padding: 0;
}

.content-container {
  position: relative;
  width: 100%;
  height: 42rem;
  display: flex;
  flex-direction: column;
}
