.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #ffd8a8;
  padding: 1em;
  border: 2px solid #ffa94d;
  border-radius: 5px;
}

.header-item {
  padding: 1em;
  border: 1px solid #ccc;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  margin-top: 16px;
}

.box {
  background-color: #ffd8a8;
  padding: 1em;
  border: 2px solid #ffa94d;
  border-radius: 5px;
}

.aside-container {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-bottom: 0;
}

.aside-container .box {
  margin-bottom: 16px;
}
