<app-simple-header-logado [tela]="'Comunicar-se'" [menus]="menus"></app-simple-header-logado>
<div class="body">
  <div class="container">
    <div class="top-bar">
      <a (click)="playFigures()" class="control-button play"><img src="../../../../assets/img/reproduzirEscolha.png" alt="Som"></a>
      <div class="phrase-area">
        <div class="selected-figures">
          <div *ngFor="let figure of selectedFigures" class="figure" (click)="addFigure(figure.label)">
            <img [src]="getFigureSrc(figure)" [alt]="figure">
          </div>
        </div>
      </div>
      <div class="nav-buttons">
        <a (click)="clearFigures()" class="control-button"><img src="../../../../assets/img/limpar.png" alt="Limpar"></a>
        <a (click)="deleteLastFigure()" class="control-button"><img src="../../../../assets/img/apagarPalavras.png" alt="Apagar Palavra"></a>
      </div>
    </div>
    <div class="figures-area">
      <div *ngFor="let figure of figures">
        <div  class="figure" *ngIf="figure.ativo=='S'">
          <img [src]="figure.image_path" [alt]="figure.label" (click)="addFigure(figure.label)" >
        </div>
      </div>
      
    </div>
    <div class="sidebar">
      <div class="temas">
        <a (click)="loadFigures()" class="control-button"><img src="../../../../assets/img/comunicacaoInicial.png" alt="pictograms"></a>
        <a (click)="loadNewFigures()" class="control-button"><img src="../../../../assets/img/alimentos.png" alt="alimentos"></a>
        <a (click)="loadBrincar()" class="control-button"><img src="../../../../assets/img/brincadeiras.png" alt="brincar"></a>
      </div>
    </div>
  </div>
</div>





