
<app-simple-header [tela]="'Dados Fonoaudiólogos'" [menus]="menus"></app-simple-header>
<div class="container">
  <div class="left-container">
    <div class="form-container">
      <h1 class="titulo">FILTRO PARA BUSCA DO FONOAUDIÓLOGO</h1>
      <p>Escolha uma opção para buscar o fonoaudiólogo</p>
      <form>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fonoaudiólogos ativados
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Alguma ação</a>
            <a class="dropdown-item" href="#">Outra ação.</a>
            <a class="dropdown-item" href="#">Alguma coisa aqui</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fonoaudiólogos desativados
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Alguma ação</a>
            <a class="dropdown-item" href="#">Outra ação.</a>
            <a class="dropdown-item" href="#">Alguma coisa aqui</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CPFs ativados
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Alguma ação</a>
            <a class="dropdown-item" href="#">Outra ação.</a>
            <a class="dropdown-item" href="#">Alguma coisa aqui</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CPFs desativados
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Alguma ação</a>
            <a class="dropdown-item" href="#">Outra ação.</a>
            <a class="dropdown-item" href="#">Alguma coisa aqui</a>
          </div>
        </div>
        <div class="input-group-filtro">
          <input type="text" placeholder="Digite o nome ou CPF ativo">
          <button class="buscar">Buscar</button>
        </div>
        <div class="input-group-filtro">
          <input type="text" placeholder="Digite o nome ou CPF desativado">
          <button class="buscar">Buscar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="image-container">
  <div class="center-image">
    <img src="../../../../assets/img/setaDireita.png" alt="Imagem centralizada">
  </div>
  </div>
  <div class="right-container">
    <div class="form-container">
      <h1>Cadastro do Fonoaudiólogo</h1>
      <form>
        <div class="input-group">
          <input type="text" placeholder="Nome">
        </div>
        <div class="input-group">
          <input type="text" placeholder="Data de Nascimento">
        </div>
        <div class="input-group">
          <input type="text" placeholder="Endereço">
        </div>
        <div class="input-group">
          <input type="text" placeholder="Telefone">
        </div>
        <div class="input-group">
          <input type="text" placeholder="CPF">
        </div>
        <div class="input-group">
          <input type="text" placeholder="CRFA">
        </div>
        <div class="input-group">
          <input type="text" placeholder="Data de Expiração CRFA">
        </div>
        <div class="input-group">
          <input type="text" placeholder="Email">
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pacientes vinculados ao fonoaudiólogo
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Alguma ação</a>
            <a class="dropdown-item" href="#">Outra ação.</a>
            <a class="dropdown-item" href="#">Alguma coisa aqui</a>
          </div>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Status Financeiro">
        </div>
        <div class="checkbox-wrapper">
          <div class="checkbox-container">
            <label for="sistema">Permitir acesso ao sistema</label>
            <input type="checkbox" id="sistema" name="sistema">
          </div>
        </div>
        <div class="button-group">
          <button class="cancel-button">Cancelar</button>
          <button>Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
