<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-inicio-tab" data-toggle="pill" href="#v-pills-inicio" role="tab" aria-controls="v-pills-inicio" aria-selected="true">Início</a>
    <a class="nav-link" id="v-pills-informacoes-tab" data-toggle="pill" href="#v-pills-informacoes" role="tab" aria-controls="v-pills-informacoes" aria-selected="false">Informações</a>
    <a class="nav-link" id="v-pills-aprederCaa-tab" data-toggle="pill" href="#v-pills-aprederCaa" role="tab" aria-controls="v-pills-aprederCaa" aria-selected="false">Aprender CAA</a>
    <a class="nav-link" id="v-pills-Pictogramas-tab" data-toggle="pill" href="#v-pills-Pictogramas" role="tab" aria-controls="v-pills-Pictogramas" aria-selected="false">Pictogramas</a>
    <a class="nav-link" id="v-pills-quemSomos-tab" data-toggle="pill" href="#v-pills-quemSomos" role="tab" aria-controls="v-pills-quemSomos" aria-selected="false">Quem somos</a>
    <a class="nav-link" id="v-pills-sobreNos-tab" data-toggle="pill" href="#v-pills-sobreNos" role="tab" aria-controls="v-pills-sobreNos" aria-selected="false">Sobre nós</a>
    <a class="nav-link" id="v-pills-fonoaudiolos-tab" data-toggle="pill" href="#v-pills-fonoaudiolos" role="tab" aria-controls="v-pills-fonoaudiolos" aria-selected="false">Fonoaudiólos</a>
    <a class="nav-link" id="v-pills-contacteNos-tab" data-toggle="pill" href="#v-pills-contacteNos" role="tab" aria-controls="v-pills-contacteNos" aria-selected="false">Contacte-nos</a>
    <a class="nav-link" id="v-pills-orientacoes-tab" data-toggle="pill" href="#v-pills-orientacoes" role="tab" aria-controls="v-pills-orientacoes" aria-selected="false">Orientações</a>
    <a class="nav-link" id="v-pills-pagamentos-tab" data-toggle="pill" href="#v-pills-pagamentos" role="tab" aria-controls="v-pills-pagamentos" aria-selected="false">Pagamentos</a>
    <a class="nav-link" id="v-pills-entrevistas-tab" data-toggle="pill" href="#v-pills-entrevistas" role="tab" aria-controls="v-pills-entrevistas" aria-selected="false">Entrevistas</a>
    <a class="nav-link" id="v-pills-sistema-tab" data-toggle="pill" href="#v-pills-sistema" role="tab" aria-controls="v-pills-sistema" aria-selected="false">Sistema</a>
    <a class="nav-link" id="v-pills-comunicacao-tab" data-toggle="pill" href="#v-pills-comunicacao" role="tab" aria-controls="v-pills-comunicacao" aria-selected="false">Comunicação</a>

  </div>
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-inicio" role="tabpanel" aria-labelledby="v-pills-inicio-tab"></div>
    <div class="tab-pane fade" id="v-pills-informacoes" role="tabpanel" aria-labelledby="v-pills-informacoes-tab"></div>
    <div class="tab-pane fade" id="v-pills-aprederCaa" role="tabpanel" aria-labelledby="v-pills-aprederCaa-tab"></div>
    <div class="tab-pane fade" id="v-pills-Pictogramas" role="tabpanel" aria-labelledby="v-pills-Pictogramas-tab"></div>
    <div class="tab-pane fade" id="v-pills-quemSomos" role="tabpanel" aria-labelledby="v-pills-quemSomos-tab"></div>
    <div class="tab-pane fade" id="v-pills-sobreNos" role="tabpanel" aria-labelledby="v-pills-sobreNos-tab"></div>
    <div class="tab-pane fade" id="v-pills-fonoaudiolos" role="tabpanel" aria-labelledby="v-pills-fonoaudiolos-tab"></div>
    <div class="tab-pane fade" id="v-pills-contacteNos" role="tabpanel" aria-labelledby="v-pills-contacteNos-tab"></div>
    <div class="tab-pane fade" id="v-pills-orientacoes" role="tabpanel" aria-labelledby="v-pills-orientacoes-tab"></div>
    <div class="tab-pane fade" id="v-pills-pagamentos" role="tabpanel" aria-labelledby="v-pills-pagamentos-tab"></div>
    <div class="tab-pane fade" id="v-pills-entrevistas" role="tabpanel" aria-labelledby="v-pills-entrevistas-tab"></div>
    <div class="tab-pane fade" id="v-pills-sistema" role="tabpanel" aria-labelledby="v-pills-sistema-tab"></div>
    <div class="tab-pane fade" id="v-pills-comunicacao" role="tabpanel" aria-labelledby="v-pills-comunicacao-tab"></div>
  </div>

